@font-face {
  font-family: 'zhihu';
  src:  url('../fonts/zhihu.eot?5g5civ');
  src:  url('../fonts/zhihu.eot?5g5civ#iefix') format('embedded-opentype'),
    url('../fonts/zhihu.ttf?5g5civ') format('truetype'),
    url('../fonts/zhihu.woff?5g5civ') format('woff'),
    url('../fonts/zhihu.svg?5g5civ#zhihu') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'zhihu' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-like:before {
  content: "\e90d";
}
.icon-show:before {
  content: "\e904";
}
.icon-hidden:before {
  content: "\e905";
}
.icon-write-comment:before {
  content: "\e90e";
}
.icon-home:before {
  content: "\e907";
}
.icon-comments:before {
  content: "\e912";
}
.icon-settings:before {
  content: "\e90f";
}
.icon-star:before {
  content: "\e910";
}
.icon-add:before {
  content: "\e900";
}
.icon-unfollow:before {
  content: "\e901";
}
.icon-cheveron-down:before {
  content: "\e902";
}
.icon-cheveron-left:before {
  content: "\e903";
}
.icon-cheveron-right:before {
  content: "\e906";
}
.icon-no-comment:before {
  content: "\e908";
}
.icon-menu:before {
  content: "\e909";
}
.icon-followed:before {
  content: "\e90a";
}
.icon-messages:before {
  content: "\e90b";
}
.icon-share:before {
  content: "\e90c";
}
.icon-bubble:before {
  content: "\e911";
}
